<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <div class="heading">
      <h1>Smoothies article</h1>
      <h3>By developer for developer</h3>
      <a href="index.ejs">vies Articles</a>
    </div>
  </body>
</html>
